[Desktop Entry]
Version=1.0
Type=Application
Name=LaserWeb4 Server
Comment=LaserWeb4 Server should be started via systemctl
Exec=/home/pi/protoneer/resources/scripts/RunLaserWeb4.sh
Terminal=true
Name[en_US]=Laserweb4
